.tour-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  max-width: 55%;
  width: 100%;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  margin-left: auto;
  position: relative; 
}

.tour-image {
  max-width: 40%;
  flex: 1;
  height: auto;
  display: flex;
}
.tour-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 200px;
  position: relative;
}

.tour-info-header {
  margin-bottom: 10px;
}

.tour-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tour-duration {
  font-size: 1.05rem;
  color: #666;
  margin-bottom: 5px;
}

.tour-stars {
  font-size: 1rem;
  color: gold;
  margin-bottom: 10px;
}

.tour-description {
  font-size: 1.02rem;
  color: #333;
  line-height: 1.25;
  overflow-wrap: break-word;
  position: relative; 
  margin-top: auto;
}

.tour-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  text-align: center;
  gap: 10px;
  align-self: flex-end; 
}

.tour-price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #12130F;
}

.tour-booking button {
  width: 80%;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center; 
  background-color: #8FCB9B;
  color: #12130F;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 25px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.3s;
  white-space: nowrap;
}
.tour-booking a{
  text-decoration: none;
  color: #12130F;
  font-size: 0.9rem;
}

.whats {
  font-size: 1.03rem;
  display: flex;
  align-items: center;
}


.tour-booking button:hover {
  background-color: #5B9279;
}
@media (max-width:1514px){
  .tour-description {
    font-size: 1rem;
  }
}
@media (max-width:938px){
  .tour-container {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 10px;
    justify-content: center;
  }
  .tour-image {
    max-width: 100%;
    order: 1;
  }
  .tour-info {
    width: 100%;
    text-align: left;
    order: 2;
    margin-bottom: 20px;
  }
  .tour-booking{
    order:3;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .tour-price{
    font-size: 1.5rem;
    font-weight: 500;
  }
  
}
@media (max-width: 768px) {
  .tour-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 15px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .tour-image {
    width: 100%;
    max-width: 100%;
    order: 1;
  }

  .tour-info {
    width: 100%;
    text-align: left;
    order: 2;
    padding:10px;
    position: static;
  }

  .tour-description {
    text-align: left;
    position: static;
    font-size: 0.8rem;
  }

  .tour-booking {
    width: 100%;
    order: 3;
    align-items: center;
    align-self: center;
  }
  .tour-price{
    font-size: 1rem;
    font-weight: 700;
  }

  .tour-booking button {
    width: 50%;
    justify-content: center;
  }
}