.inicio-pagina {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }
  
  .info {
    flex: 1;
    max-width: 500px;
  }
  
  .carrusel {
    flex: 1;
    margin: 45px;
  }
  .infotours {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }
  
  .authentico {
    flex: 1;
    max-width: 400px;
  }
  
  
  #tours {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .tour-container {
    width: 100%;
  }
  
  

  @media (max-width: 1260px) {
    .inicio-pagina {
      flex-direction: column;
      align-items: center;
    }
  
    .info,
    .carrusel {
      width: 100%;
      max-width: 600px;
    }
  
    .carrusel {
      margin:  auto 0 auto;
    }

  }
  

@media (max-width: 1260px) {
  .infotours {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .authentico {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
  }

  #tours {
    width: 100%;
    max-width: 100%;
    padding: 0;
    gap: 0;
    margin-bottom: 20px;
  }

  .tour-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
}
 